*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
}

body{
    background: url('img/fondo.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

h2{
    text-align: center;
    color: white;
    padding: 10px 0;
}
.container{
    position: absolute;
    top: 14%;
    transform: translateY(-50px);
    width: 100%;
    padding: 0 20px;
}

.formulario{
    display: flex;
    max-width: 550px;
    background-color: #d898bfb7;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 48%;
}

.input-fields .input,
.msg textarea{
    margin: 10px;
    background: transparent;
    border: 0px;
    color: #c5ecfd;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    width: 100%;
}
.input-fields .input{
    color: #c5ecfd;
}
.msg textarea{
    height: 252px;
}

.btn{
    display: block;
    background: linear-gradient(50deg, rgba(67, 123, 241, 0.938), rgb(247, 37, 219));
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    margin: 15px 10px;
    transition: all 300ms;

}
.btn:hover{
    transform: translateY(10px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}

@media screen and (max-width:600px){
    .formulario{
        flex-direction: column;
    }
    .msg textarea{
        height: 60px;
    }
    .input-fields,
    .msg{
        width: 100%;
    }
}